<footer>
  <a href="#" class="up"></a>
  <nav id="footer-major-nav" role="navigation" itemscope="" itemtype="http://schema.org/SiteNavigationElement">
    {{#each major_pages}}
      <a href="/{{path}}" title="{{name}}" itemprop="url" class="{{{isActive @root.path path}}}">
        <span itemprop="name">{{name}}</span>
      </a>
    {{/each}}
  </nav>

  <nav id="footer-minor-nav" role="navigation" itemscope="" itemtype="http://schema.org/SiteNavigationElement">
    {{#each minor_pages}}
      <a href="/{{path}}" title="{{name}}" itemprop="url" class="{{{isActive @root.path path}}}">
        <span itemprop="name">{{name}}</span>
      </a>
    {{/each}}
  </nav>

  <section>© 2021 Offhand Studio.<br><a href="/colophon" class="{{{isActive "/colophon" path}}}">Colophon</a>
  </section>

</footer>
<script async="" src="/js/app.js?v={{version}}"></script>