<!doctype html>
<html lang="{{ site.lang }}">
<head>
  {{> meta }}
  <link href="/css/app.css?v={{version}}" crossorigin="anonymous" media="all" rel="stylesheet">
</head>

<body class="{{color}}">
  {{> header}}



  <main>
  <h2 class="display-1">{{{headline}}}</h2>

  {{{contents}}}



  {{> project-previews }}


  </main>

  {{> footer}}

</body>

</html>
